@use "./abstracts/variables" as *;
body {
    font-family: $font-family;
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-position: center top;
    background-repeat: no-repeat repeat;
    background-size: cover;

    @media screen and (max-width:991px) {
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    @media screen and (max-width:767px) {
        background-image: url(../assets/destination/background-destination-mobile.jpg);
    }
}