doctype html
html(lang="en")
    head 
        include ./pug/head.pug
        link(rel="stylesheet", href="css/destination.css")
        script(src="./scripts/index.js" defer)
    body 
        include  ./pug/header.pug
        +heading("destination")
        section 
            .container 
                .item-title 
                    span 01
                    span Pick your destination
                include ./pug/content.pug

