doctype html
html 
    head 
        include ./pug/head.pug
        script(type="text/javascript" src="./scripts/index.js" defer)
    body 
        include  ./pug/header.pug
        +heading("home")
        main 
            .container 
                div 
                .content 
                    span SO, YOU WANT TO TRAVEL TO
                    h1 SPACE
                    p Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!

                section.home-circle EXPLORE